body {
    font-family: 'Arial', sans-serif;
    background: url('WebsiteBackground.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    margin: 0;
}

video
{
    position: absolute;
    right: 50px;
}